$chumbo: #222;
$chumbo-escuro: #1c1c1c;
$chumbo-claro: #2c2c2c;
$cinza-claro: #999;
$prim: #FF2F8C;
$sec: #FF8938;
$branco: #fff;
$preto: #000;

$fonte: 'Roboto', sans-serif;


@mixin transition($transition...) {
    transition:         $transition;
    -o-transition:      $transition;
    -moz-transition:    $transition;
    -webkit-transition: $transition;
}

@mixin transform($transform...) {
    transform:         $transform;
    -o-transform:      $transform;
    -moz-transform:    $transform;
    -webkit-transform: $transform;
}

@mixin box-shadow($box-shadow...) {
    box-shadow:         $box-shadow; 
    -moz-box-shadow:   $box-shadow;
    -webkit-box-shadow: $box-shadow;
}

@mixin linear-gradient($direction, $fromColor, $toColor) {
  background-color: $toColor; /* Fallback Color */
  background-image: -webkit-gradient(linear, $direction, from($fromColor), to($toColor)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient($direction, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient($direction, $fromColor, $toColor); /* FF3.6 */
  background-image:     -ms-linear-gradient($direction, $fromColor, $toColor); /* IE10 */
  background-image:      -o-linear-gradient($direction, $fromColor, $toColor); /* Opera 11.10+ */
  background-image:         linear-gradient($direction, $fromColor, $toColor);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='$fromColor', EndColorStr='$toColor');
}